body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: gray;
    /* max-width: 1280px; */
}
/*Phần header*/
.header {
    background-color: #9EB2B0;
    height: 10vh;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#nav_logo {
    font-size: 2rem;
    margin: auto 2rem;
}

#nav_logo a {
    text-decoration: none;
    color: #ffffff;
}

#nav_logo a:hover {
    text-decoration: none;
    color: blue;
}

.nav_sound {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    width: 12rem;
    height: 2.5rem;
    margin: auto 0.7rem;
    color: #ffffff;
    text-decoration: none;
}

.nav_sound p {
    text-align: center;
    margin: 0.5rem auto;
    font-size: 1.2rem;
}

.nav_sound:hover {
    background-color: red;
    border-color: red;
    color: black;
}

.header .icon {
    display: none;
    text-decoration: none;
}
/* Phần Section */
.section {
    display: flex;
    align-items: center;
    height: 70vh;
    background-color: rgb(248, 248, 248);
}

.main {
    width: 100%;
    text-align: center;
    line-height: 2rem;
}

.main h3 {
    color: #9EB2B0;
    font-size: 2rem;
}

#register {
    line-height: 2rem;
}

#register input {
    border: 1px solid #9EB2B0;
    border-radius: 2rem;
    width: 30rem;
    height: 3rem;
    padding-left: 1.2rem;
    margin: 0.6rem;
}

#register button {
    border: 1px solid #9EB2B0;
    border-radius: 2rem;
    width: 31.2rem;
    height: 50px;
    background-color: #9EB2B0;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0.6rem;
}

#register button:hover {
    background-color: rgb(71, 203, 212);
    font-weight: bold;
    color: black;
}

#error {
    color: red;
}
/* Phần Footer */
.footer {
    height: 20vh;
    background-color: #e8ebee;
    display: flex;
    justify-content: space-around;
}
.footer ul {
    list-style-type: none;
}
.footer ul li {
    padding: 0.5rem;
}
.footer ul li a{
    padding: 0.3rem;
}

.footer_link a:hover {
    color: red;
}
.footer_link a:active {
    color: blue;
}

@media screen and (max-width: 1024px) {
    .main {
        line-height: 1rem;
    }
    .footer ul li {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 820px) {
    .footer ul li {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .nav_sound p {
        font-size: 1rem;
    }
    .aside h1 {
        font-size: 1.5rem;
    }
    #register input {   
        width: 20rem;
    }
    #register button { 
        width: 21.2rem;
    }
    .footer ul li {
        padding: 0.3rem;
    }
}

@media screen and (max-width: 480px) {
    /* Responsive phần Header */
    .header a:not(:first-child) {display: none;}
    .header {
        justify-content: space-between;
        padding-right: 1.5rem;
    }
    .header a.icon {
        display: block;
    }
    .header.responsive {position: relative;}
    .header.responsive .icon {
        position: absolute;
        right: 0.8rem;
        top: 1.5rem;
    }
    .header.responsive .nav_sound {
        width: 8rem;
        height: 3rem;
    }
    .header.responsive a {
        display: flex;
    }
    .header.responsive #nav_logo {
        font-size: 1.5rem;
    }
    .header.responsive a p {
        font-size: 0.8rem;
    }
/* Responsive phần Section */
    #register input {
        width: 15rem;
    }   
    #register button {
        width: 16.2rem;
    }
    /*Responsive phần Footer*/
    .footer {
        font-size: 0.8rem;
    }
    .footer ul li {
        padding: 0.2rem;
    }
    .footer ul li a {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 320px) {
    .header.header.responsive {
        height: 15vh;
        flex-direction: column;
    }
    .header.responsive .nav_sound {
        width: 8rem;
        height: 2rem;
    }
    .header.responsive a {
        display: flex;
    }
    .header.responsive #nav_logo {
        font-size: 1.5rem;
    }
    .header.responsive a p {
        font-size: 0.8rem;
    }
/* Responsive phần Section */
    .section.responsive {
        flex-direction: column;
        height: 65vh;
    }
 
    #register input {
        width: 15rem;
        height: 2rem;
    }   
    #register button {
        width: 16.2rem;
        height: 2rem;
    }
    /*Responsive phần Footer*/
    .footer ul li {
        padding: 0.1rem;
        font-size: 0.7rem;
    }
}






