body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: gray;
    /* max-width: 1280px; */
}
/*Phần header*/
.header {
    background-color: #9EB2B0; 
    height: 10vh;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#nav_logo {
    font-family: Quicksand;
    font-size: 2rem;
    margin: auto 2rem;
}
#nav_logo a {
    text-decoration: none;
    color: #ffffff;
}

#nav_logo a:hover {
    text-decoration: none;
    color: #114E60;
}

.nav_sound {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    width: 12rem;
    height: 2.5rem;
    margin: auto 0.7rem;
    color: #ffffff;
    text-decoration: none;
}

.nav_sound p {
    text-align: center;
    margin: 0.5rem auto;
    font-size: 1.2rem;
}

.nav_sound:hover {
    background-color: #DE8971;
    border-color: #DE8971;
}

.header .icon {
    display: none;
    text-decoration: none;
}
/*Phần section*/
.section {
    display: flex;
    align-items: center;
    height: 85vh;
    background-color: rgb(248, 248, 248);
}
.aside {
    border-right: 2px dotted gray;
    width: 30%;
    text-align: center;
    color: #9EB2B0;
    line-height: 3rem;
}

.main {
    width: 70%;
    text-align: center;
    line-height: 2rem;
}

.main h3 {
    color: #9EB2B0;
    font-size: 2rem;
}

#login {
    line-height: 2rem;
}

#login input {
    border: 1px solid #9EB2B0;
    border-radius: 2rem;
    width: 30rem;
    height: 3rem;
    padding-left: 1.2rem;
    margin: 0.6rem;
}

#login button {
    border: 1px solid #9EB2B0;
    border-radius: 2rem;
    width: 31.2rem;
    height: 50px;
    background-color: #9EB2B0;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0.6rem;
    letter-spacing: 1px;
    cursor: pointer;
}

#login button:hover {
    background-color: #114E60;
    font-weight: bold;
    color: white;
}

.main a {
    color:gray; 
    font-weight:bold;
}

.main p a:hover {
    color: red;
}

#error {
    color: red;
}
/*Phần Footer*/
.footer {
    height: 20vh;
    background-color: #e8ebee;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
    letter-spacing: 1px;
    font-size: 16px;
}
.footer ul {
    list-style-type: none;
}
.footer ul li {
    padding: 0.5rem;
}
.footer ul li a{
    padding: 0.3rem;
}

.footer_link a:hover {
    color: red;
}
.footer_link a:active {
    color: blue;
}

@media screen and (max-width: 1024px) {
    .main {
        line-height: 1rem;
    }
    .footer ul li {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 820px) {
    .footer ul li {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .nav_sound p {
        font-size: 1rem;
    }
    .aside h1 {
        font-size: 1.5rem;
    }
    #login input {   
        width: 20rem;
    }
    #login button { 
        width: 21.2rem;
    }
    .footer ul li {
        padding: 0.3rem;
    }
}

@media screen and (max-width: 480px) {
    /* Responsive phần Header */
    .header a:not(:first-child) {display: none;}
    .header {
        justify-content: space-between;
        padding-right: 1.5rem;
    }
    .header a.icon {
        display: block;
    }
    .header.responsive {position: relative;}
    .header.responsive .icon {
        position: absolute;
        right: 0.8rem;
        top: 1.5rem;
    }
    .header.responsive .nav_sound {
        width: 8rem;
        height: 3rem;
    }
    .header.responsive a {
        display: flex;
    }
    .header.responsive #nav_logo {
        font-size: 1.5rem;
    }
    .header.responsive a p {
        font-size: 0.8rem;
    }
/* Responsive phần Section */
    .section {
        flex-direction: column;
    }
    .aside {
        border: none;
        width: 100vw;
        line-height: 2rem;
    }
    .main {
        line-height: 0.1rem;
        width: 100vw;
    }
    #login input {
        width: 15rem;
    }   
    #login button {
        width: 16.2rem;
    }
    /*Responsive phần Footer*/
    .footer {
        font-size: 0.8rem;
    }
    .footer ul li {
        padding: 0.2rem;
    }
    .footer ul li a {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 320px) {
    .header.header.responsive {
        height: 15vh;
        flex-direction: column;
    }
    .header.responsive .nav_sound {
        width: 8rem;
        height: 2rem;
    }
    .header.responsive a {
        display: flex;
    }
    .header.responsive #nav_logo {
        font-size: 1.5rem;
    }
    .header.responsive a p {
        font-size: 0.8rem;
    }
/* Responsive phần Section */
    .section.responsive {
        flex-direction: column;
        height: 65vh;
    }
    .aside {
        border: none;
        width: 100vw;
        line-height: 2rem;
    }
    .aside h1 {
        font-size: 1.5rem;
    }
    .main {
        line-height: 0.1rem;
        width: 100vw;
        font-size: 0.8rem;
    }
    .main h3 {
        font-size: 1.5rem;
    }
    #login input {
        width: 15rem;
        height: 2rem;
    }   
    #login button {
        width: 16.2rem;
        height: 2rem;
    }
    /*Responsive phần Footer*/
    .footer ul li {
        padding: 0.1rem;
    }
}






